/* ================= MOBILE ================= */

.nav-mob-open,
.nav-mob-close {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    height: 64px;
  }

  .logo-img {
    height: 40px;
  }

  .nav-btn {
    display: none;
  }

  .nav-mob-open {
    display: block;
    height: 20px;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    background: rgba(255, 255, 255, 0.98);
    backdrop-filter: blur(18px);
    width: 260px;
    height: 100vh;
    padding-top: 100px;
    padding-left: 32px;
    transition: right 0.35s ease;
    box-shadow: -15px 0 50px rgba(0, 0, 0, 0.08);
  }

  /* When menu active */
  .nav-menu.active {
    right: 0;
  }

  .nav-menu a {
    font-size: 16px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    right: 22px;
    top: 28px;
    width: 22px;
    cursor: pointer;
  }
}